@media screen and (max-width: 768px) {
    .extra-info {
        font-size: 70%;
    }
}

@media screen and (min-width: 768px) {
    .extra-info {
        font-size: 1.5rem;
    }
}

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-image: url('./cloudy.jpeg');
    background-size: cover;

}

#main {
    color: white;
}


#first-contain {
    opacity: 0.7;
}

#second-contain {
    opacity: 0.7;
}

.table-responsive {
    opacity: 0.7;
}

td {
    color: white;
    text-align: center;
    min-width: 300px;
    font-size: 2em;
}